#fines {
    box-sizing: border-box;
    padding: 10px;
    height: 15vw;
    width: 40vw;
    margin-left: 0;
    display: flex;
    flex-flow: row;
    .lista {
        box-sizing: border-box;
        width: 70%;
        height: 100%;
        margin-right: 10px;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #fafafa;
        box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        flex: 0 0 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        
        li {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 20px 15px;
            margin: 3px 0;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            }
            h1,
            h2,
            p {
                margin: 0;
            }
            h1 {
                font-size: 12px;
            }
            p {
                font-size: 10px;
            }
            h2 {
                font-size: 11px;
            }
            &::selection {
                background: none;
            }
        }
        .selected {
            background: darkcyan;
            color: white;
        }
        
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #afafaf7a;
            height: 1px;
            border-radius: 100px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    }
    .botones {
        width: 30%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        button {
            box-sizing: border-box;
            padding: 0;
            width: 100%;
            height: 50%;
            border: none;
            background: darkcyan;
            color: white;
            border-radius: 4px;
            outline: none;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            transition: ease 0.2s all;
            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
                cursor: pointer;
                background: #028585;
            }
        }
        .multar {
            margin-top: 10px;
        }
        .no-multar {
            background: #fafafa;
            color: #008b8b;
            &:hover {
                background: #f1f1f1;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    #fines {
        height: 30vw;
        width: 58vw;
        margin-right: 0;
    }
}

@media only screen and (max-width: 663px) {
    #fines {
        height: 30vw;
        width: 50vw;
        margin-left: 1vw;
    }
}